.hearts {
  display: block;
  animation: Growing .8s forwards;
  width: 60px;
  -webkit-animation: Growing .8s forwards;
}

@keyframes Growing {
    from {
        opacity: 0;
        width: 20px;
    } to {
        opacity: 1;
        width: 60px;
    }
}